OUTBOUND_APP_TIMEZONE=America/Chicago
OUTBOUND_BOOKING_SLOT_MINUTES=30
OUTBOUND_BOOKING_HORIZON_DAYS=7
OUTBOUND_BOOKING_WORKDAY_START_HOUR=9
OUTBOUND_BOOKING_WORKDAY_END_HOUR=18
OUTBOUND_BOOKING_LEAD_HOURS=4
OUTBOUND_BOOKING_REMINDER_HOURS=12
